/* 
    Document   : style.css
    Created on : 20-Feb-2012, 00:10:45
    Author     : ignatius fernandes
    Description:
        Purpose of the stylesheet follows.
*/


/****************** GLOBAL SETTINGS **************/

html {
/*        background: url(../images/metal-slate.jpg) repeat-x;*/
	background: url(../img/assets/bg_water.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

* {margin:0; padding:0}
body {
 
 height:100%;
 }
 
.clear{clear:both}

img{
    border:none;
}

#footer{
    font-size: 14px;
    margin-top: 100px;
}

/********************* Main Section ******************/

#main{
 margin:120px auto;
 padding:0;
 font-family: Arial, Helvetica, sans-serif;
 color:#333;
/* background: url(../images/blacktrans3.png) repeat;*/
 width:960px;
 text-align:center;
 }
 
 #header{
/*     padding-top: 15px;*/
 }
 
#container{
 -moz-border-radius: 10px;
 border-radius: 10px;
 margin:10px 20px;
 font-size:20px;
 padding:20px;

 }
 
#container p{
 font-size:20px;
 line-height:1.2em;
 }
 
 .info h1{
        font-weight: normal;
        text-decoration: none;
        font-size: 25px;
 }
 
.info {
    text-shadow: 0 1px #f8f8f8;
    margin-bottom:25px;
 } 

.social {
 margin: 20px;
 }
 
.line {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #f8f8f8;
/* background: url(../images/line.png) no-repeat;;
 height:10px;
*/ margin-top:20px;
 } 

/****************** login **************/



/****************** Form **************/
input{
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    
    /* CSS3 */
/*    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;*/
    border-radius: 2px;
    box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;  
    -moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;  
    
    /* Font */
    font-size: 16px;   
}

input, textarea {  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    }  

#log, #reg{
    text-shadow: 0 1px #333;
    background: #D54E21;
    width: 100px;
    cursor: pointer;
    color: white;
}

#getUsername{
    -moz-box-shadow: 10px #000;
    -webkit-box-shadow: 10px #000;
}

form{
    margin-top: 10px;
}

.login .register{
    border: 1px solid #666666;
    background: #333;
    width: 218px;
    color: #ffffff;
}

#login-form{
    display: none;
}

button{
    text-shadow: 0 1px #333;
    border: none;
    background: #333;
    padding: 8px;
    margin: 5px;
    color: #ffffff;
    cursor: pointer;
    
    
    /* CSS3 */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;  
    -moz-box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;  
    -webkit-box-shadow: rgba(0,0,0, 0.3) 0px 0px 10px;  
    
    /* Font */
    font-size: 16px;
    
}

#login, #register{
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    float: right;
    
}

#facebook, #twitter{
    width: 100px;
}

#facebook{
    background-image: -moz-linear-gradient(#3B5998,#354E82);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3B5998),color-stop(100%,#354E82));
    background-image: -webkit-linear-gradient(#3B5998,#354E82);
}

#twitter{
    background-image: -moz-linear-gradient(#33BCEF,#019AD2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33BCEF),color-stop(100%,#019AD2));
    background-image: -webkit-linear-gradient(#33BCEF,#019AD2);
}

#register{
    display: none;
}

